body{
background-image: url("IMAGES/DEATH_STAR.png");
background-repeat: no-repeat;
background-attachment: fixed;
color: white;
font-family: "Calibri";
}

h1{
font-family: "Arial black";
font-size: 80px;
color: green;
}

h2{
	font-family: "Calibri";
	font-size: 40px;
	color: white;
}

h3{
	font-family: "Calibri";
	font-size: 20px;
	color: green;
}

h4{
	font-family: "Calibri";
	font-size: 30px;
	color: green;
	text-align: center;
}

div.containers{
	display: flex;
flex-wrap: wrap;
justify-content: center;
	}

div.container-pizza{
	border-style: solid;
	border-width: 2px;
	border-color: green;
	border-radius: 6px;
	background-color: rgba(255,255,255,0.25);
	transition: 1s;
}

div.container-pizza:hover{
background-color: rgba(255,255,255,0.5);
}

div.container-pizza .picpizza img {
	width: 300px;
	opacity: 0.5;
	transition: 1s;
}

div.container-pizza .picpizza img:hover{
opacity: 1.0;
}

div.container-pizza .textpizza{
	padding-left: 20px;
	color: white;
	width: 200px;
	height: 150px;
	text-align: center;
}


.list{
	list-style: none;
}

div.container-pizza .price{
text-align: center;
font-size: 100px;
line-height:140px;
color: green;
}

div.container-pizza .add{
text-align: center;
}

.button{
border: 1px solid green;
transition: 0.5s;
margin-bottom : 10px;
}

.button:hover{
background: green;
}

div.submit

div.Commande .tableau{
	width:100%;
	border:2px solid green;
}

div.Commande .legend{
	width:100%;
	border:1px solid green;
}

div.Commande .field{
	width:100%;
border:1px solid green;
}

div.Commande .person{
width:100%;
border:1px solid green;
}


/* @media screen and(max-width/min-width:XXXpx){ */
/* } */